<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>MANY STORES to MANY BRANDS</title>
  </head>

  <body>
    <div class="jumbotron">

      <h3>brands</h3>

      {% if brands is not empty %}

        {% for brand in brands %}
          <a href="/brand/{{brand.getId}}"><h3>{{brand.getName}}</h3></a>
        {% endfor %}

      {% endif %}

      <h4>Add a Brand</h4>

      <form action="/brands" method="post">

        <label for="name">name of brand: </label>
        <input id="name" type="text" name="brand_name">
        <button type="submit" class="btn btn-sm btn-success">add new brand</button>

      </form>

</html>
